<launch>
    
  <group ns="baxter">
    <!-- Upload robot and semantic description that corresponds to the URDF -->
    <!-- Send urdf to param server (baxter_arm.accurate.left) -->
    <param name="robot_description" textfile="$(find baxter_teleop)/urdf/baxter.urdf" />
    <!-- the semantic description that corresponds to the URDF -->
    <param name="robot_description_semantic" textfile="$(find baxter_moveit_config)/config/baxter.srdf" />
    
    <!-- Start the kinematic services node -->
    <node name="kinematic_services" pkg="grips_kinematics" type="kinematic_services" output="screen">
      <rosparam command="load" file="$(find baxter_moveit_config)/config/kinematics.yaml"/>
      <param name="ik_dynamic_reconfigure" value="false"/>
      <param name="planning_group" value="left_arm"/>
      <param name="max_solver_iterations" value="500"/>
    </node>
  </group>
  
</launch>
