<launch>
  
  <!-- Enable baxter robot -->
  <node name="enable_baxter_robot" pkg="baxter_tools" type="enable_robot.py" output="screen" args="-e"/>
  
<!--
  TODO: Include joint tracker node
-->

  <!-- Interface with the kinect 2 -->
  <node name="k4w2_interface" pkg="k4w2_interface" type="k4w2_interface.py" output="screen">
    <param name="publish_rate" value="30"/>
    <param name="read_port" value="6565"/>
  </node>

  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find baxter_teleop)/config/cartesian_controller.rviz"/>
  
</launch>
