<launch>
  <arg name="rviz" default="true"/>
  <arg name="enable_baxter" default="false"/>
  <arg name="enable_joysticks" default="true"/>
    
  <!-- Include PyKDL Transpose Jacobian Controller -->
  <include file="$(find baxter_teleop)/launch/jt_cartesian_controller.launch">
    <arg name="rviz" value="$(arg rviz)" />
    <arg name="enable_baxter" value="$(arg enable_baxter)" />
  </include>
  
  <!-- Coupling node between priovr and cart controller -->
  <node name="priovr_cart_coupling" pkg="baxter_teleop" type="priovr_cart_coupling.py" output="screen"/>
  
  <!-- PrioVR nodes -->
  <node name="sensor_orientations" pkg="priovr_interface" type="sensor_orientations.py" output="screen">
    <rosparam command="load" file="$(find priovr_interface)/config/priovr_common.yaml"/>
    <param name="enable_joysticks" value="$(arg enable_joysticks)" />
    <param name="frame_id" value="base" />
  </node>
  <node name="human_forward_kinematics" pkg="priovr_interface" type="human_forward_kinematics.py" output="screen">
    <rosparam command="load" file="$(find priovr_interface)/config/priovr_common.yaml"/>
    <param name="publish_rate" value="100" />
    <param name="frame_id" value="base" />
  </node>
  <!-- Joysticks -->
  <group if="$(arg enable_joysticks)">
    <node name="right_joystick" pkg="joy" type="joy_node" output="screen" ns="priovr">
      <param name="dev" value="/dev/input/js0" />
      <remap from="joy" to="joysticks" />
    </node>
    <node name="joy_grippers_controller" pkg="baxter_teleop" type="joy_grippers_controller.py" output="screen"/>
  </group>

</launch>
