<launch>
  <arg name="rviz" default="true"/>
  <arg name="enable_joysticks" default="false"/>
    
  <!-- Enable baxter robot -->
  <node name="enable_baxter_robot" pkg="baxter_tools" type="enable_robot.py" output="screen" args="-e"/>
  
  <!-- Move the head -->
  <node name="command_head_pan" pkg="rostopic" type="rostopic" output="log"
        args="pub /robot/head/command_head_pan baxter_core_msgs/HeadPanCommand -- 1.57 10"/>
  
  
  <!-- PyKDL Cartesian Controller Node -->
  <node name="pykdl_cartesian_controller" pkg="baxter_teleop" type="pykdl_cartesian_controller.py" output="screen">
    <rosparam command="load" file="$(find baxter_teleop)/config/cartesian_controller.yaml"/>
  </node>
  <node name="priovr_cart_coupling" pkg="baxter_teleop" type="priovr_cart_coupling.py" output="screen"/>
  
  <!-- PrioVR nodes -->
  <node name="sensor_orientations" pkg="priovr_interface" type="sensor_orientations.py" output="screen">
    <rosparam command="load" file="$(find priovr_interface)/config/priovr_common.yaml"/>
    <param name="enable_joysticks" value="$(arg enable_joysticks)" />
    <param name="frame_id" value="base" />
  </node>
  <node name="human_forward_kinematics" pkg="priovr_interface" type="human_forward_kinematics.py" output="screen">
    <rosparam command="load" file="$(find priovr_interface)/config/priovr_common.yaml"/>
    <param name="publish_rate" value="100" />
    <param name="frame_id" value="base" />
  </node>
  <!-- Joysticks -->
  <group if="$(arg enable_joysticks)">
    <node name="right_joystick" pkg="joy" type="joy_node" output="screen" ns="priovr">
      <param name="dev" value="/dev/input/js0" />
      <remap from="joy" to="joysticks" />
    </node>
  </group>
  
  
  <!-- Show in Rviz -->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find baxter_teleop)/config/cartesian_controller.rviz"/>
  </group>
</launch>
